.container-wrapper{
  height: 100%;
}

.modal-container{
  margin-top: 100px;
  background-color: white;
  width: 708px;
  height: 867px;
  padding: 56px;
}

.header-container{
  margin-bottom: 27px;
  /* background-color: #bdbdbd44; */
}

.header-container:hover, .content-container textarea:hover, .content-container p:hover, .date-container p:hover{
  cursor: pointer;
  /* color: rgb(88, 88, 88); Change to your desired color */
  text-decoration: underline; /* Optional: Add an underline effect */
}

.content-container textarea, .content-container p{
  width: 100%;
  height: 633px;
  padding: 5px;
  /* background-color: #bdbdbd44; */
}

.content-container{
  border-top: 1px solid #000000; /* Set border style, width, and color */
  border-bottom: 1px solid #000000; /* Set border style, width, and color */
  padding: 37px 0;
  height: 633px;
  overflow-y: scroll;
  /* background-color: #bdbdbd44; Add a background color */
}

.date-container{
  margin-top: 26px;
  text-align: end;
}

button {
  display: block;
  margin: auto;
  width: 10rem;
  height: 2rem;
}

:modal {
  background-color: beige;
  border: 2px solid burlywood;
  border-radius: 5px;
}
