main{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 90px;

    display: flex;
    justify-content: center;
}


main h1 {
    font-size: 2.188rem;
}


main h2 {
    font-size : 1.25rem;
}

.hero{
    height: 431.99px;
}

.gradient-text {
  background-image: linear-gradient(45deg, #7E7373, #D2BDBD);
  background-size: 100%;  /* Cover the entire text area */
  background-clip: text;
  color: transparent;
  /* Additional styles for the text (font-size, etc.) */
}

