/* global */
@import "/.xolonotes/utility.css";
@import "/.xolonotes/common.css";
@import "/.xolonotes/fonts.css";

/* components */
@import "/.xolonotes/components/footer/footer.css";
@import "/.xolonotes/components/card/card.css";
@import "/.xolonotes/components/header/header.css";
@import "/.xolonotes/components/button/button.css";

body {
    width: 100%;
    height: 100vh;
    background-image: url('/.xolonotes/images/background-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
};

main{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 90px;

    display: flex;
    justify-content: center;
}


main h1 {
    font-size: 2.2rem;
}


main h2 {
    font-size : 1.813rem;
}

main .container{
    padding-top: 32vh;
}


html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}


.container {
    /* background-color: rgb(148, 101, 101); */
    width: 100%;
    max-width: 75%;
}

.hidden {
    display: none;
    visibility: hidden;
}

/*
 * Media Queries
 * (this template is here for future use)
 */

sub-main input {
    height: 3rem;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    background-color: rgb(189 189 189 / 92%);
    ;
}

.form {
    background: rgb(193 193 193 / 60%);
    height: 23vh;
    width: 85vw;
    border-radius: 2rem;
    margin: 15px;
    max-width: 450px;
}

.form .button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    padding: 1vw 2vw;
    min-width: 106px;
}




@media screen and (max-width: 672px)
{

}

@media screen and (max-width: 383px) {
    .hero-title{
        display: block !important;
    }

}