main{
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 90px;

    display: flex;
    justify-content: center;
}


main h1 {
    font-size: 2.188rem;
}


main h2 {
    font-size : 1.25rem;
}

.gradient-text {
    background-image: linear-gradient(45deg, #7E7373, #D2BDBD);
    background-size: 100%;  
    background-clip: text;
    color: transparent;
}

main .container{
    padding-top: 201px;
}