:root{
    --primary-color: #FFFFFF;
}

header{
    position: fixed;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    z-index: 500;
    top: 0;
}

header , header img{
    width  : 100%;
    height : 90px;
}

.header-canvas {
    position: fixed;
    width: 110%;
    height: 90px;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.15);
}

.left-shift{
    left: -10px;
    z-index: 400;
}

.right-shift{
    right: -10px;
    z-index: 400;
}

#xolo-logo{ 
    width: 96px;
    height: auto;
}

#github-logo{
    width: 31px;
    height: auto;
}

.text-card{
    width: 97px;
    height: 33px;
}

.logo{
    border-radius: 50%;
}

.nav-list{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item{
    margin: 0;
}

.nav-logo{
    width: 50px;
    z-index: 1500;
}

.nav-text{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 672px)
{
    header , header img{
        height: 48px;
    }
    
    .header-canvas {
        position: fixed;
        width: 110%;
        height: 48px;
    }

    .text-card{
        height: 20px;
    }

    #xolo-logo{
        height: 48px;
        width: auto;
    }

    #github-logo{
        height: 29px;
        width: auto;
    }

    .text-card{
        display: none;
    }
}