:root{
    --header-height: 90px,
}

header{
    background-color: antiquewhite;
    height: var(--header-height);
    width: 100%;
    position: fixed;
}

header img{
    height : var(--header-height);
    width  : auto;
}

#logo{
    border-radius: 50%;
}