*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 1000px;
    width: 100%;
    background-image: url('./images/background-desktop.png');
    background-repeat: no-repeat;
    background-position-x: center;
}


.container {
    /* background-color: rgb(148, 101, 101); */
    width: 100%;
    max-width: 75%;
}

.hidden {
    display: none;
    visibility: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}


@media screen and (max-width: 672px)
{

}