*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 100vh;
    width: 100%;
}

.gradient-text {
    background-image: linear-gradient(45deg, #7E7373, #D2BDBD);
    background-size: 100%;  
    background-clip: text;
    color: transparent;
}

.container {
    /* background-color: rgb(148, 101, 101); */
    width: 100%;
    max-width: 75%;
}

.container-wrapper{
    width: 100%;
}

.hidden {
    display: none;
    visibility: hidden;
}

#background{
    height: 100%;
    width: auto;
    position: fixed;
    z-index: -1;
    top: 0;
}

@media screen and (max-width: 672px)
{

}