.flex{
    display: flex;
}

.centered-x {
    display: flex;
    justify-content: center;
}

.centered-y {
    display: flex;
    align-items: center;
}

.align-end {
    align-self: flex-end;
}

.align-front {
    align-self: flex-start;
}

.even-out {
    justify-content: space-between;
}

.spacing-top-most{
    margin-top: 120px;
}

@media screen and (max-width: 672px) {
    .spacing-top-most{
        margin-top: 30px;
    }

    .section-space{
        margin-top: 10px;
    }
}

.no-scrolling{
    overflow: hidden;
}

.enable-scroll{
    overflow: scroll;
}

.screen-size{
    height: 150vh;
}

.screen-fit{
    width: 80vh;
}

.section-space{
    margin-top: 30px;
}