.flex{
    display: flex;
}

.centered-x {
    display: flex;
    justify-content: center;
}

.centered-y {
    display: flex;
    align-items: center;
}

.align-end {
    align-self: flex-end;
}

.align-front {
    align-self: flex-start;
}

.even-out {
    justify-content: space-between;
}

.spacing-top-most{
    margin-top: 90px;
}