/*
 *  FOOTER
 */


.footer {
    width: 100%;
    /* height: 100px; */
    background-color: rgb(34 34 34 / 93%);
    bottom: 0;
    position: fixed;
    color: white;
}

.footer .copyright {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    /* padding-top: 25px; */
}

@media screen and (max-width: 460px) {
    .footer .copyright {
        display: block;
        padding: 10px;
    }
}